.form-center {
  height: 100vh;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
}

.form-wrapper {
  box-shadow: inset;
  width: 400px;
}

.btn {
  border-radius: 6px;
}
